<!--<div *ngIf="!submitted">
  <form>
    <label for="username">User Name</label>
    <input type="text" #username><br/><br/>
    <label for="password">Password</label>
    <input type="password" name="password" #password><br/>
  </form>
  <button (click)="onSubmit(username.value, password.value)">Login</button>
</div>

<p> Your value is: {{value}}</p>
<div [ngSwitch]="value">
  <p *ngSwitchCase="1">First Choice</p>
  <p *ngSwitchCase="2">Second Choice</p>
  <p *ngSwitchCase="4">Stop Now please</p>
  <p *ngSwitchCase="2">Second Choice again..</p>
  <p *ngSwitchDefault>played yuhself</p>
</div>
<button (click)="increaseValue()">Increase value</button>

<p *appRepeat="3">Redel..</p>

<div *ngIf="submitted">
  <div *ngIf="isAuthenticated"> 
    <h4>Welcome {{username}}</h4>
    <ul *ngFor="let course of courses; let i=index;">
      {{i}} - Course ID: {{course.id}} <br>
      Course Name: {{course.name}} 
    </ul>
  </div>
  <div *ngIf="!isAuthenticated">
    <h4>invalid Login !!! Please try again...</h4>
  </div>
  <button (click)="submitted=false">Back</button>
</div> -->


<h3> Structural Directive with exportAs property</h3>

<ng-template appRepeat #rd="repeat" #ct="changeText">
  <p>I am being repeated</p>
</ng-template>

<button (click)="rd.repeatElement(5)">Repeat Element</button>
<button (click)="ct.changeElementText(5)">Change Text</button>

<div [style.background-color]="colorName" [style.color]="color" [style.border]="borderStyle">
  Uses the Sttribute Directive [style.css-property]="whatever variable name is in .ts file"
</div>
<br/>
<div [ngStyle]="{color: color, borderBottom: borderStyle}">
  How about we do a custom style binding using [ngStyle]
</div>
<br/>

<div [class.bordered]="isBordered">
  Border {{ isBordered ? "ON" : "OFF" }}
</div>

<div [ngClass]="{bordered: isBordered, color: color}">
  Border {{ isBordered ? "ON" : "OFF"}}
</div>

<h3>Attribute Directive</h3>
<p [appMessage]="myMessage">Click Here</p>
<br/>



